<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  
    <div class="container-fluid">
       
      <nav>
      <%= link_to image_tag("Mensalogo4.gif"),id="logo", alt: "vt mensa" %>
   
         <ul class="nav pull-right">
          <li><%= link_to "Home",     '#' %></li>
          <li><%= link_to "Events",   '#' %></li>
          <li><%= link_to "Newsletter",   '#' %></li>
          <li><%= link_to "Test Schedule", '#' %></li>
          <li><%= link_to "Scholarships",   '#' %></li>
          <li><%= link_to "Handbook", '#' %></li>
          <li><%= link_to "Contacts", '#' %></li>
         </ul>
      </nav>
    </div>
  </div>
</header> 




   

